.headerMenu_container {
  display: flex;
}

.escape_headerList {
  height: 100vh;
  padding: 20px;
}

.escape_header {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin-bottom: 10px;
}

.escape_header img {
  width: 80px;
}

.escape_rankingPage {
  flex-grow: 1;
}

.escape_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
  font-size: 18px;
}

.escape_menu li {
  margin: 20px 0;
}

.escape_menu li:hover {
  font-weight: 700;
}

.escape_rankingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 20px 0;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-left: 100px;
}

.escape_rankingHeader h2 {
  font-size: 30px;
}

button {
  width: 80px;
  height: fit-content;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 5px 0;
  background-color: transparent;
}

button:hover {
  font-weight: 900;
}

.escape_rankingList {
  margin-left: 80px;
  padding: 0 10px;
  width: 800px;
  margin: 30px auto;
  height: 200px;
}

.themeImg {
  float: left;
  width: 150px;
  height: 190px;
}

.themeCafe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  border-bottom: 1px solid #ccc;
}

.store {
  width: 33%;
}

.point {
  width: 33%;
}

.theme {
  text-align: center;
}

.escape_ul {
  margin-left: 80px;
  width: 100%;
}
